{% extends "base.html.twig" %}

{% block head %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{article.title}}</title>
  <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.4/css/bulma.min.css" />
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/bulma-divider.min.css">
  {% endblock %}

  {% block stylesheet %}

  <style>
  	@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

  	body {font-family: 'Nunito', sans-serif;}

    nav.navbar {
      height: 6rem !important;
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06) !important;
    }
    :root{
::-webkit-scrollbar{height:10px;width:10px}::-webkit-scrollbar-track{background:#efefef;border-radius:6px}::-webkit-scrollbar-thumb{background:#d5d5d5;border-radius:6px}::-webkit-scrollbar-thumb:hover{background:#c4c4c4}
}
    ::selection{color: lavender; background-color:black;}
  </style>
  {% endblock %}
  {% block content %}

  <!-- Image -->
  <section class="hero ">
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div class="column is-8 is-offset-2">
            <figure class="image is-16by9">
              <img src="{{article.image}}" alt="blog image"> 
            </figure>
          </div>
        </div>

        <section class="section">
          <div class="columns">
            <div class="column is-8 is-offset-2">
              <div class="content is-medium">
                <h2 class="subtitle is-4" title="{{article.datetime}}">{{ article.date }}</h2>
                {# <div class="control"><span class="tag is-info is-uppercase ">story</span></div> #}

                <h1 class="title">{{article.title}}</h1>
                <div>
                  {{article.description|raw}}
                </div>
                <br>
                <div>
                  {{article.content|raw}}
                </div>
              </div>
            </div>
          </div>
        </section>
        <div class="comments">
          <h2 class="comment_title title" style="text-align: center;">Commentaires</h2>
          <div class="comment_form {{islogin ? '' : 'hidden'}}">
              <form method="POST" action="./postComment">
                  <input type="hidden" name="article" value="{{article.id}}">
                  <input type="hidden" name="comment" value="0">
                  <textarea class="comment_text" cols="100" name="text">Entrez votre commentaire ici</textarea>
                  <button type="submit" class="button bd-fat-button is-info is-light bd-pagination-prev" title="Envoyer">
                    <span>
                      <strong>Envoyer</strong>
                    </span>
                  </button>
              </form>
          </div>
          <div class="comment_login {{islogin ? 'hidden' : ''}}">
              <div>Vous devez être connecté pour pouvoir poster un commentaire, Connectez-vous ici => <a href="./login">Se connecter</a></div>
          </div>
          <div class="comment_supercontainer">
              {% for comment in comments %}
                  <div class="comment_container">
                      <div class="comment_name">
                        <div class="">
                            {{comment.uname}}
                        </div>
                        <div>{{comment.datetime}}</div>
                      </div>
                      <div class="comment_separator"></div>
                      <div>
                          {{comment.text}}
                      </div>
                  </div>
              {% endfor %}
          </div>

         
      </div>

      </div>
    </div>
  </section>

</div>
  {% endblock %}
  {% block footer %}

  {% endblock %}
  {% block script %}

  <script>
    document.addEventListener('DOMContentLoaded', () => {

      // Get all "navbar-burger" elements
      const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

      // Check if there are any navbar burgers
      if ($navbarBurgers.length > 0) {

        // Add a click event on each of them
        $navbarBurgers.forEach(el => {
          el.addEventListener('click', () => {

            // Get the target from the "data-target" attribute
            const target = el.dataset.target;
            const $target = document.getElementById(target);

            // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
            el.classList.toggle('is-active');
            $target.classList.toggle('is-active');

          });
        });
      }

    });
  </script>
  {% endblock %}
